<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/styles/master.css">
    <link rel="stylesheet" href="/static/styles/filter.css">
</head>
<body>
    {{ template "header" }}
    {{ template "hero" }}

    <section class="artists">
        <h2 class="title">Artists</h2>
        {{ template "filter-btn" }}
        {{ template "filterHolder" .Filter }}
        <div class="container">
            {{if .Artists}}
                {{ range .Artists }}
                        {{ template "card" . }}
                {{ end }}
            {{else}}
                <p class="filter-error">Sorry We Didn't find any matches</p>
            {{end}}
        </div>
    </section>
    
    {{ template "topArrow" }}

    {{ template "footer"}}

    <script type="module" src="/static/scripts/main.js"></script>
    <script type="module" src="/static/scripts/filter.js"></script>
</body>
</html>